[MASTER]
max-line-length=120
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    R0401, # cyclic-import
    R0801, 
    R0903, # too-few-public-methods
    W0718, # broad-exception-caught

good-names=db,k,ex
ignored-modules=psycopg2.errors,psycopg2._psycopg